<footer>

      <!-- Footer Gallery -->
    <div class="footer-gallery">

      <a href="https://banditjoj.com/illust/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/Illust.jpg" alt="Illust">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>Illust</h4>
            <span>- view -</span>
          </div>
        </div>
      </a>

      <a href="https://banditjoj.com/aqo/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/AQO.jpg" alt="AQO">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>AQO</h4>
            <span>Vis Dev</span><br>
            <span>- view -</span>
          </div>
        </div>
      </a>

      <a href="https://banditjoj.com/m9/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/M9.jpg" alt="Mighty Nein">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>The Mighty Nein</h4>
            <span>BG Design</span></br>
            <span>- view -</span>
          </div>
        </div>
      </a>
          
      <a href="https://banditjoj.com/bunnybun/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/BB.jpg" alt="Bunny Bun">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>Life of Bunny Bun</h4>
            <span>Vis Dev</span><br>
            <span>- view -</span>
          </div>
        </div>
      </a>
    
      <a href="https://banditjoj.com/novacity/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/Nova.jpg" alt="Nova City">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>Nova City</h4>
            <span>Vis Dev</span><br>
            <span>- view -</span>
          </div>
        </div>
      </a>

      <a href="https://banditjoj.com/microsoft/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/Msft.jpg" alt="Microsoft">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>Microsoft</h4>
            <span>Concept Art</span><br>
            <span>- view -</span>
          </div>
        </div>
      </a>

      <a href="https://banditjoj.com/archer/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/Archer.jpg" alt="Archer">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>Archer: Danger Phone</h4>
            <span>Concept Art</span><br>
            <span>- view -</span>
          </div>
        </div>
      </a>

      <a href="https://banditjoj.com/sketch/" class="footer-gallery-item">
        <img src="https://banditjoj.com/assets/img/footer/Sketch.jpg" alt="Sketch">
        <div class="footer-overlay">
          <div class="footer-overlay-text">
            <h4>Sketch</h4>
            <span>- view -</span>
          </div>
        </div>
      </a>
    
    </div>

      <br>
      <br>
      
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      {% include social-networks-links.html %}
      {% if page.footer-extra %}
        <div class="footer-custom-content">
          {% for file in page.footer-extra %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      <p class="copyright text-muted">
      {% if site.author %}
        {{ site.author }}
        &nbsp;&#10056;&nbsp;&nbsp;<a href="mailto:ejolu@live.com" 
                                       style="color: #44c9a8; text-decoration: underline;"
                                       onmouseover="this.style.color='#ebb10b'"
                                       onmouseout="this.style.color='#44c9a8'">
                                       ejolu@live.com
                                    </a>
      {% endif %}
        
      {% if site.url-pretty %}
        &nbsp;&bull;&nbsp;
        <span class="author-site">
          <a href="{% if site.url-canonical %}{{ site.url-canonical }}{% else %}{{ '/' | absolute_url }}{% endif %}">{{ site.url-pretty }}</a>
        </span>
      {% endif %}

      {% if site.matomo %}
        {% if site.matomo.opt-out %}
          &nbsp;&bull;&nbsp;
          <a href="http://{{- site.matomo.uri -}}/index.php?module=CoreAdminHome&action=optOut" target="_blank" class="text_muted">Do-not-Track</a>
        {% endif %}
      {% endif%}

      {% if site.edit_page_button and site.github.repository_url %}
        &nbsp;&bull;&nbsp;
        <a title="Edit this page on GitHub" href="{{ site.github.repository_url }}/edit/{{ site.github.source.branch }}/{{ page.path }}" class="text_muted">Edit page</a>
       {% endif%}

      </p>
      {% unless site.remove-ads %}<p class="theme-by text-muted">
        Powered by
        <a href="https://beautifuljekyll.com">Beautiful Jekyll</a>
      </p>{% endunless %}
      </div>
    </div>
  </div>
</footer>
